/*---------------home.php---------------*/
#main{
	background:url(images/bg-div-main.jpg) repeat-x 0 0 scroll;
}
div.container article.home{
	margin:15px auto;
	padding-top:1px !important;	
}

div.container article.first{
	position:relative;
	background:url(images/bg-jquery-bnr.jpg) no-repeat top center;
	width:940px;
	height:310px;
	margin:0 auto;	
}
article.first div.sl-FR-Out{
	position:absolute;
	top:12px;
	left:12px;
	width:404px;
	height:256px;
	
}

article.first ul.navFirst{
	position:absolute;
	list-style-type:none;
	margin:0 auto;
	bottom:0;
	left:0;
	right:0;
	width:100px;
}
ul.navFirst li{
		background:url(images/buton.png) -15px 0px no-repeat;
		float:right;
		width:15px;
		height:17px;
		margin-right:10px;
		cursor:pointer;
}
ul.navFirst li.active,ul.navFirst li:hover{
	background:url(images/buton.png) 0 0 no-repeat;
}
article.first div.contentFirst{
	width:375px;
	height:250px;
	overflow:hidden;
	top:20px;
	right:15px;
	position:relative;
	float:right;
}
article.first .sectionFirst{
	position:absolute;
	width:2300px;
	right:0;
}

.sectionFirst section.inside{
	color:#fff;
	text-align:right;
	width:375px;
	top:0;
	right:0;
	padding:0;
	display:inline;
	float:right;
	min-height:180px;
	
}
.sectionFirst section.inside h2, .sectionFirst section.inside span{
	margin:10px 0 15px;
}
div.container article.second section{
	background-image:url(images/separator3.gif),url(images/separator3.gif);
	background-position:top center, bottom center;
	background-repeat:repeat-x, repeat-x;
	background-attachment:scroll, scroll; 
	min-height:50px;
	width:auto;
	margin:0 5px;
	color:#666;
	padding:10px;	
}
article.third section{
	min-height:300px;
}
article.third section img,article.third section h4, article.third section p,article.third section a{
	margin:0 20px 20px 0;
}
article.third section h4{
	font-weight:bold;	
}

article.forth{
		position:relative;
		margin:0 auto;
		width:960px;
		min-height:170px;
	}
	article.forth div.inside{
		width:960px;
		border:1px solid #d8d9d6;
		background:#e7e9e6;
		overflow:hidden;
		border-radius:5px;
		min-height:140px;
		position:relative;
	}
	div.inside img{
		position:absolute;
		right:10px;
		
	}
	div.inside section.message{
		top:33px;
		position:absolute;
		width:3900px;
		right:0;
		
		/*margin:0 60px;	for the pic bg		*/
	}
	div.inside section.message > span{
	color:#666;
	width:960px;
	display:inline;
	text-align:right;
	float:right;

	
	}
	article.forth ul.nav{
		position:absolute;
		list-style-type:none;
		margin:0 auto;
		bottom:0;
		left:0;
		right:0;
		width:75px;
	
	}
	article.forth ul.nav li{
		background:url(images/buton.png) -12px -17px no-repeat;
		float:right;
		width:12px;
		height:17px;
		margin-right:5px;
		cursor:pointer;
	}
	article.forth ul.nav li.active, article.forth ul.nav li:hover{
		background:url(images/buton.png) 0 -17px no-repeat;
	}
	article.forth ul.nav li:first-child{
		margin-right:0;	
	}
/*---------------onc-project.php---------------*/
nav.project{
	padding-bottom:60px;
	background:url(images/bg-sidebar.gif) repeat-y scroll left 0;
	margin:0 0 0 20px;	
}
nav.project ul li{
	height:30px;	
	background:url(images/separator3.gif) repeat-x scroll 0 100%;
}
nav.project ul li a{
	line-height:30px;
	float:left;	
	text-decoration:none;
	color:#666;
	margin-left:30px;
}
nav.project ul li:hover{
	background:url(images/sprite.png) no-repeat 0px -40px scroll;
}
nav.project ul li:hover a{
	color:#fff;
	
}
div.floor .content div.fram-once{
	background:url(images/image-frame-sprite-2.png) no-repeat 0 -1354px;
	width:720px;
	height:240px;
	margin-bottom:10px;
}
div.floor .content img{
	margin:8px 9px;	
}
div.floor .content p{
	margin-bottom:20px;
	color:#666;
}
div.floor .content p, div.floor .content nav.tabs,div.floor .content section{
	margin-left:37px !important;
	float:right;
	clear:both;	
}
nav.tabs{
	margin:20px;
	
}
nav.tabs ul li{
	float:right;
	margin-left:10px;
	height:25px;
	padding:0 10px;
}
nav.tabs ul li a{
	text-decoration:none;
	color:#666;
	line-height:25px;
}
nav.tabs ul li:hover{
	background:#19292e;
	border-radius:5px;
	
}
nav.tabs ul li:hover a{
	color:#fff;	
}
div.floor .content section{
	width:500px;
	background:#e7e9e6;
	border:1px solid #D8D9D6;
	border-radius:10px;
	min-height:200px;
	
}
div.floor .content section p{
	color:#666;
	margin:20px;	
}
/*---------------projects.php---------------*/
div.list-projects{
	min-height:300px;
	width:450px;
	margin-right:20px;
	margin-left:20px;	
}
div.list-projects section{
	margin:0 auto 51px;
		
}
div.list-projects section div.fram{
	background:url(images/image-frame-sprite-2.png) no-repeat 0 0;
	width:455px;
	height:272px;	
}
div.list-projects section img{
	margin:8px 9px;	
}
div.list-projects section h2{
	font-weight:bold;
}
div.list-projects section h2,div.list-projects section p{
	margin:10px 0 20px;;	
}
div.list-projects section p{
	color:#666;	
}